@model List<CompanyDetailsDto>

<h1>Company Index</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Full Address</th>
            <th>Number of Employees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Id</td>
                <td>@company.Name</td>
                <td>@company.FullAddress</td>
                <td>@company.NumberOfEmployees</td>
            </tr>
        }
    </tbody>
</table>